.dropdown {;
    // background-color: #2969d1;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 55px;
}



.dropdown input {
    text-align: center !important;
    position: absolute;
}

.dropdown label {
    font-size: 0.9em !important;
}
