.map-page {
    width: 100%;
    height: 100%;
}

.map-container {
    position: relative;
    margin: 10px auto;
    width: 90%;
    height: 80%;
    box-shadow: -8px 13px 54px 4px rgba(0,0,0,0.50);
}

.geocode_container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    background-color: rgba(255,255,255,0.8);
}

.geocode_btn {
    height: 28px;
    width: 30%;
    border: none;
}

.geocode_btn:hover {
    cursor: pointer;
}

.app-map {
    width: 100%;
    height: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f7f8f9;
    width: 400px;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar-tab-pane {
    padding: 0;
}




.main-content {
    position: absolute;
    left: 400px;
    right: 0px;
    height: 100%;
    overflow-y: scroll;
}

.top-bar {
    padding: 10px 20px;
    background: #fafafa;
    whiteSpace: nowrap;
    overflow: hidden;
    textOverflow: ellipsis;
}

.database-search {
    padding: 0;
}

.autocomplete-wrap {
    width: 100%;
    margin: 1px 0px;
    padding: 0px;
}

.autocomplete {
    width: 100%;
}

.search-tag {
    margin-bottom: 5px;
}
.search-tags {
    padding: 10px;
}


@media (max-width: 800px) {
    
    .sidebar {
	position: static;
	width: 100%;
	height: auto;
    }

    .main-content {
	position: static;
	height: 100%;
	overflow-y: scroll;
    }
    
    .map-container {
	height: 80vh;
    }
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}





.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}





#scatterplot {
    width: 80%;
    min-height: 400px;
    min-width: 531px;
}

circle  {
    opacity: 0.7;
}


.sidebar {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.sidebar_header {
    background-color: #cf000f;
    padding: 0px;
    height: 35px;
    line-height: 35px;
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
}

.sidebar_header h3 {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: -1px;
    color: #fff;
}
.home-btn {
    position: absolute;
    left: 0;
    height: 34px;
}

.home-btn_logo {
    width: 40px;
    height: 34px
}

.search-filters {
    background-color: #fff;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3);
    margin: 2px 0px 0px 0px;
}

.scatter-plot_legend {
    line-height: 18px;
    color: #555;
    flex-shrink: 0;
}

.scatter-plot_legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}



.scatter-plot_wrap {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
}

