
.axis path, .axis line {
    fill: none;
}
.axis text {
    font-size: 13px;
}
.bar {
    fill: rgba(0, 66, 128, 0.25);
}
.bar:hover {
    fill: rgba(0, 66, 128, 0.50);
}
svg text.label {
    fill:white;
    font: 15px;  
    font-weight: 400;
    text-anchor: middle;
}
#scatterplot{
    min-height: 400px;
    min-width: 925px;
    width: 75%;
    float: left;
}



.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.scatter-plot_legend {
    line-height: 18px;
    color: #555;
    flex-shrink: 0;
    padding: 20px;
    float: right;
}

.scatter-plot_legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.svg-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    
}

.svg-content-responsive {
    display: inline;
    position: inherit;
    top: 10px;
    left: 0;
    width: 100%;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


